<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PStation-Cart</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
    <link rel="stylesheet", href="/css/normalize.css">
    <link rel="stylesheet", href="/css/cart.css">
</head>
<style>
@font-face{
    font-family: myFirstFont;
    src: url("./fonts/made-tommy-regular.otf");
    }
@font-face {
font-family: mySecondFont;
src: url(../public/fonts/CocoGothic-Regular.ttf);
}
</style>
<body>
    <header>
        <%- include("./partials/header") %>
    </header> 
        <section class="box-padre">
            <div class="shoppingCart">
            <h2 class="titulo"> Mis Compras </h2>
                <div class="inside-box">
                    <ul class="items">
                        <div class="itemIndividual">
                            <a class="quitarItem"><i class="fa-solid fa-xmark"></i></a>
                            <label for="check" class="compras">
                                <input type="checkbox" class ="check" id="check" value="item">
                                Lorem ipsum, dolor
                            </label>
                            <label for="amount" class="cantidad-box">
                                <input type="number" id="amount" class="cantidad" value="cantidad">
                            </label>
                            <div class="right-box">
                                <a class="info" href="#"><i class="fa-solid fa-circle-info"></i></a>
                                <p class="precio">$000,00</p>
                            </div>
                        </div>

                        <div class="itemIndividual">
                            <a class="quitarItem"><i class="fa-solid fa-xmark"></i></a>
                            <label for="check1" class="compras">
                                <input type="checkbox" class ="check" id="check1" value="item">
                                Lorem ipsum, dolor
                            </label>
                            <label for="amount" class="cantidad-box">
                                <input type="number" id="amount" class="cantidad" value="cantidad">
                            </label>
                            <div class="right-box">
                                <a class="info" href="#"><i class="fa-solid fa-circle-info"></i></a>
                                <p class="precio">$000,00</p>
                            </div>
                        </div>

                        <div class="itemIndividual">
                            <a class="quitarItem"><i class="fa-solid fa-xmark"></i></a>
                            <label for="check2" class="compras">
                                <input type="checkbox" class ="check" id="check2" value="item">
                                Lorem ipsum, dolor
                            </label>
                            <label for="amount" class="cantidad-box">
                                <input type="number" id="amount" class="cantidad" value="cantidad">
                            </label>
                            <div class="right-box">
                                <a class="info" href="#"><i class="fa-solid fa-circle-info"></i></a>
                                <p class="precio">$000,00</p>
                            </div>
                        </div>

                        <div class="itemIndividual">
                            <a class="quitarItem"><i class="fa-solid fa-xmark"></i></a>
                            <label for="check3" class="compras">
                                <input type="checkbox" class ="check" id="check3" value="item">
                                Lorem ipsum, dolor
                            </label>
                            <label for="amount" class="cantidad-box">
                                <input type="number" id="amount" class="cantidad" value="cantidad">
                            </label>
                            <div class="right-box">
                                <a class="info" href="#"><i class="fa-solid fa-circle-info"></i></a>
                                <p class="precio">$000,00</p>
                            </div>
                        </div>

                        <div class="itemIndividual">
                            <a class="quitarItem"><i class="fa-solid fa-xmark"></i></a>
                            <label for="check4" class="compras">
                                <input type="checkbox" class ="check" id="check4" value="item">
                                Lorem ipsum, dolor
                            </label>
                            <label for="amount" class="cantidad-box">
                                <input type="number" id="amount" class="cantidad" value="cantidad">
                            </label>
                            <div class="right-box">
                                <a class="info" href="#"><i class="fa-solid fa-circle-info"></i></a>
                                <p class="precio">$000,00</p>
                            </div>
                        </div>
                    </ul>
                    <div class="inside-linea"></div>
                        <label for="descuento" class="descuento-box">
                            <input type="text" name="descuento" class="inputs" placeholder=" codigo promocional">
                        </label>
                        <p class="precioFinal">$000,00</p>
                    <div class="inside-linea"></div>
                    <a class="button-box" href="http://localhost:3000/payment"><button class="botonDePago" type="button">$</button></a>
                </div>
            </div>
        </section>
    </body>
    <footer class="footer-box">
    <footer>
        <%- include("./partials/footer") %>
    </footer>
</html>