<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PStation-Detalle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
    <link rel="stylesheet", href="/css/normalize.css">
    <link rel="stylesheet", href="/css/detail_v2.css">
    <title>Detalle</title>
</head>
<!--TOP-->
<div class="top"></div>
<body class="viewport_body">
        <div class="top_pestañas">
            <section class="pestañas_revisarSeleccion">REVISAR SELECCION</section>
            <section class="pestañas_miCompra">MI COMPRA</section>
            <section class="pestañas_comprobante">COMPROBANTES</section>
        </div>
    <div class="box_padre">
        <div class="visual" src="/images/pexels-natali-railean-2232180.jpg" alt="imagen">
            <div class="boton_izq">
                <i class="fa-solid fa-chevron-left"></i>
            </div>
            <div class="boton_der">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
        <div class="descripcion">
            <div class="categorias_box">
                <div class="categoria"><i class="fa-solid fa-xmark"></i>Naturaleza</div>
                <div class="categoria"><i class="fa-solid fa-xmark"></i>Free</div>
            </div>
            <div class="titulo">Titulo de imagen seleccion</div>
            <div class="info_box">
                <p class="info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas expedita repellendus, obcaecati pariatur, eius recusandae architecto vero reprehenderit sit modi, quaerat quis ea dolorem debitis eos. Doloribus enim illo possimus?
                </p>
            </div>
            <div class="resoluciones">
                <div class="resolucion1">
                    <label for="eleccion_resolucion">
                        <input type="radio" name="eleccion_resolucion1" checked>
                    </label>
                    <div class="tamaño_letra">S</div>
                    <div class="tamaño_numero">667 x 1000</div>
                    <i class="fa-regular fa-circle-question"></i>
                </div>
                <div class="resolucion2">
                    <label for="eleccion_resolucion">
                        <input type="radio" name="eleccion_resolucion1">
                    </label>
                    <div class="tamaño_letra">L</div>
                    <div class="tamaño_numero">1333 x 2000</div>
                    <i class="fa-regular fa-circle-question"></i>
                </div>
                <div class="resolucion3">
                    <label for="eleccion_resolucion">
                        <input type="radio" name="eleccion_resolucion1">
                    </label>
                    <div class="tamaño_letra">XL</div>
                    <div class="tamaño_numero">4480 x 6720</div>
                    <i class="fa-regular fa-circle-question"></i>
                </div>
            </div>
            <div class="boton_borrado">
                <label for="boton_borrado">
                    <button class="boton_x" type="button" name="boton_borrado" id="boton_pago"><i class="fa-solid fa-xmark"></i></button>
                </label>
            </div>
            <div class="boton_pago">
                <label for="boton_pago">
                    <button class="boton" type="button" name="boton_pago" id="boton_pago">Finalizar compra</button>
                </label>
            </div>
        </div>
    </div>
</body>
<!--FOOTER-->
<div class="footer"></div>
</html>