<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Photo Station / Usuarios</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Usuarios</title>
	</head>
	<body>
		<div id="page-container">
			<header>
				<%- include("./partials/header") %>
			</header>
			
			<main>
			<h2>list users</h2>
				<ul>
					<% for(let i = 0; i < allUsers.length; i++){%>
						<li>
							<p>
							<%= allUsers[i].name %>
							</p>
							<p>
							<%= allUsers[i].email %>
							</p>
						</li>
					<%}%>
				</ul>
			</main>

			<footer>
				<%- include("./partials/footer") %>
			</footer>
		</div>
	</body>
</html>