<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Photo Station / Detalle de compra</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
		<link rel="stylesheet", href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet", href="/css/detail.css">
	</head>

	<!-- body class="viewport_body" -->
	<body>
		<div id="page-container">
			<header>
				<%- include("../partials/header") %>
			</header>

			<main>
				<div id="box-general">
					<div id="top-pestanas">
						<div class="pestañas-revisar"><a href="detail">Revisar selección</a></div>
						<div class="pestañas-micompra"><a href="pago">Mi compra</a></div>
						<div class="pestañas-comprobante"><a class="pestañas-comprobante">Comprobantes</a></div>
					</div>
					
					<div id="box-principal">
						<div id="box-imagen">
							<img src="/images/pexels-natali-railean-2232180.jpg" alt="imagen">
							<!--
							<div class="boton_izq">
								<i class="fa-solid fa-chevron-left"></i>
							</div>
							<div class="boton_der">
								<i class="fa-solid fa-chevron-right"></i>
							</div>
							-->
						</div>

						<div id="box-descripcion">
							<div id="descripcion">
								
								<div id="titulo-imagen">Título de imagen</div>
								
								<div class="info_box">
									<p id="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illum dolor sunt consectetur quisquam delectus molestias ipsam provident voluptates perferendis totam eligendi consequatur quod, fuga repellendus a temporibus voluptatibus amet?</p>
								</div>

								<div id="categorias-box">Categorías
									<div class="categoria"><i class="fa-solid fa-circle-dot"></i>Naturaleza</div>
									<div class="categoria"><i class="fa-solid fa-circle-dot"></i>Free</div>
									<div class="categoria"><i class="fa-solid fa-circle-dot"></i>Estilo de vida</div>
								</div>

								<div id="botones">
									<button class="boton-borrado" type="button" name="boton_borrado" id="boton_borrado"><span>Cancelar</span></button>
									<button class="boton-pago" type="button" name="boton_pago" id="boton_pago"><span>Continuar</span></button>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</main>

			<footer>
				<%- include("../partials/footer") %>
			</footer>
		</div>
	</body>
</html>