<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Editar Foto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <img src="/images/photos/404.webp">
    <h1 class="titulo">No se cargó la imagen <%=  product.name %></h1>
   
            <p> <button class="botonAgregar" type="submit">Actualizar</button>
        
            <a  class="botonVolver" href="/product/list">Listado de Fotos</a></p>
        </form>
    </section>
</body>

</html>