<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Photo Station / Producto</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
		<link rel="stylesheet", href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet", href="/css/register.css">
	</head>

	<body>
		<div id="page-container">
			<header>
				<%- include("../partials/header") %>
			</header>
			
			<div class="form"> 
				<form class="login-form" method="POST" action="/product/crear" enctype="multipart/form-data">
					<div>
						<input id="name" class="cajatexto" type="text" name="name" placeholder="Nombre de la foto">
					</div>
					<div>
						<input type="text" class="cajatexto" name="description" placeholder="Descripción">
					</div>
					<div>   	
						<input type="file" class="cajatexto" name="image">
					</div>

					<div id="checkboxes">            
						<label for="">
							<input type="checkbox" name="category" value="1" class="myCheckBox">
							Paisaje
						</label>
						<label for="">
							<input type="checkbox" name="category" value="2" class="myCheckBox"> 
							Moda         
						</label>
						<label for="">
							<input type="checkbox" name="category" value="3" class="myCheckBox"> 
							Comida            
						</label>
						<label for="">
							<input type="checkbox" name="category" value="4" class="myCheckBox"> 
							Animales         
						</label>
						<label for="">
							<input type="checkbox" name="category" value="5" class="myCheckBox"> 
							Personas        
						</label>
						<label for="">
							<input type="checkbox" name="category" value="6" class="myCheckBox">  
							Varios      
						</label>
						<label for="">
							<input type="checkbox" name="category" value="7" class="myCheckBox"> 
							Deportes
						</label>
						<label for="">
							<input type="checkbox" name="category" value="8" class="myCheckBox"> 
							Blanco y negro       
						</label>
						<label for="">
							<input type="checkbox" name="category" value="9" class="myCheckBox"> 
							Arquitectura            
						</label>
					</div>  
					
					<div>
						<input type="number" class="cajatexto" name="price" placeholder="Precio">
					</div>               
					<button>Cargar</button> 
				</form>
			</div>
			
			<div class="errores">
				<ul></ul>
			</div>

			<footer>
				<%- include("../partials/footer") %>
			</footer>

		</div> 

	  
		<script src="/js/productAddValidator.js"></script>
	</body>
</html>