<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Photo Station / Cat치logo de im치genes</title>
	<link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
	<link rel='stylesheet' href='/css/normalize.css'/>
	<link rel='stylesheet' href='/css/style.css'/>
	<link rel='stylesheet' href='/css/productList.css'/>
</head>

<body>
	<header>
		<%- include("../partials/header") %>
	</header>

	<main>
		<h1>Mir치 las im치genes que tenemos para vos</h1>
		<div class="grilla-productos">
		<% for( let i = 0; i < product.length; i++ ) { %>
				<a href="/product/detail/<%=product[i].id %>">
					<img src="/images/photos/<%= product[i].image %>">
				</a>
		<% } %>
		</div>
	</main>

	<footer>
		<%- include("../partials/footer") %>
	</footer>
</body>

</html>



