<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PStation-Crear</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
        <link rel="stylesheet", href="/css/normalize.css">
        <link rel="stylesheet", href="/css/register.css">
    </head>

    <body>

        <div class="form"> 
            <form class="login-form" method="POST" action="/product/crear" enctype="multipart/form-data">
                 <div>
                    <label for="">Nombre de la foto</label>
                    <input id="name" type="text" name="name">
                 </div>
                 <div>
                    <label for="">Descripcion</label>
                    <input type="text" name="description">
                </div>
                <div>   
                    <label for="">Subi tu Iamgen</label>
                    <input type="file" name="image">
                </div>

                <div>
                    <label for="">Categoria</label>
                    <select name ="category">
                        <% for (let i = 0; i < category.lenght; i++) { %>
                        <option value="<%=category[i].id%>">
                            <%=category[i].category_name %>
                         
                        </option>
                       
                        <% } %>
                    </select>
                 </div>  
                 <div>
                    <label for="">Precio</label>
                    <input type="number" name="price">
                </div>               
                 <button>Cargar</button> 
        </div>
            
        <div class="errores">
            <ul></ul>
        </div>


      
        <script src="/js/productAddValidator.js"></script>
    </body>
</html>