<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="main">
		<nav class="navigation">
			<ul>
				<li class="logo"><a href="#"><img src="./img/logoicon.png" alt=""></a></li>
				<li class="espacio-menu"></li>
				
				<li class="menu-opcion"><a href="#">Categorías</a></li>
				<li class="menu-opcion"><a href="#">Contacto</a></li>
				<li class="menu-opcion"><a href="#">Registrarse</a></li>
				<li class="user"><a href="#"><i class="fas fa-user"></i></a></li>
				<li class="user"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
				<!-- li class="user"><a href="#"><i class="fas fa-sign-out-alt"></i></a></li -->
			</ul> 
		</nav>
	</div>
</body>
</html>