<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PStation-Payment</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
    <link rel="stylesheet", href="/css/normalize.css">
    <link rel="stylesheet", href="/css/payment.css">
</head>
<style>
@font-face{
    font-family: myFirstFont;
    src: url("./fonts/made-tommy-regular.otf");
    }
@font-face {
font-family: mySecondFont;
src: url(../public/fonts/CocoGothic-Regular.ttf);
}
</style>
<section class="main">
    <section class="top">
        <i class="fa-solid fa-bars"></i>
        <a href="http://localhost:3001"><img class="logo" src="../images/photostation-isotipo.png" alt="logoSuperior"></a>
        <div class="right">
            <i class="fa-solid fa-circle"><p></p></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </section>
    <body>
        <section class="box-padre">
            <div class="payment-box">
                <h2 class="titulo"> Pasarela de Pago </h2>
                    <div class="inside-box">
                        <div class="opcionesPago-box">
                            <select class="opcionesPago" name="opcionesDePago" id="eleccion">
                                <option value="eleccion">VISA</option>
                                <option value="eleccion">MASTERCARD</option>
                            </select>
                        </div>
                        <div class="nombreYApellido-box">
                            <label for="NombreYApellido"></label>
                            <input type="text" class="inputs" id="NombreYApellido" placeholder=" Nombre y Apellido">
                        </div>
                        <div class="dni-box">
                            <label for="dni"></label>
                            <input type="number" class="inputs" id="dni" placeholder=" DNI">
                        </div>
                        <div class="numeroTarjeta-box">
                            <label for="numeroTarjeta"></label>
                            <input type="number" class="inputs" id="numeroTarjet" placeholder=" Numero de tarjeta">
                        </div>
                        <div class="codigoSeguridad-box">
                            <label for="codigoSeguridad"></label>
                            <input type="password" class="inputs" id="codigoSeguridad" placeholder=" Codigo de seguridad">
                        </div>
                        <div class="fechaVencimiento-box"> Fecha de vencimiento
                            <label for="fechaVencimiento"></label>
                            <input type="date" class="inputs" id="fechaVencimiento">
                        </div>
                        <div class="termino1-box">
                            <label for="termino1"></label>
                            <input type="checkbox" id="termino1" required>
                            Lorem ipsum dolor sit
                        </div>
                        <div class="termino2-box">
                            <label for="termino2"></label>
                            <input type="checkbox" id="termino2" required>
                            Lorem ipsum dolor sit
                        </div>
                        <a class="button-box"><button class="botonDePago" type="button">$</button></a>
                    </div>
            </div>
        </section>
    </body>
    <footer class="footer-box">
    <div class="linea"></div>
        <a href="http://localhost:3001"><img class="logoFooter" src="../images/photostation-imagotipo.png" alt="logoSuperior"></a>
    </footer>
</html>