<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoStation - Offers</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
    <link rel="stylesheet", href="/css/normalize.css">
    <link rel="stylesheet", href="/css/offer.css">
</head>
<style>
@font-face {
    font-family: myFirstFont;
    src: url(../public/fonts/MADE\ TOMMY\ Regular.otf);
  }
@font-face {
font-family: mySecondFont;
src: url(../public/fonts/CocoGothic-Regular.ttf);
}
</style>
<section class="main">
    <section class="top">
        <i class="fa-solid fa-bars"></i>
        <a href="http://localhost:3001"><img class="logo" src="../images/photostation-isotipo.png" alt="logoSuperior"></a>
        <div class="right">
            <i class="fa-solid fa-circle"></i>
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </section>
    <body class="fondo">
        <section class="ofertasIndividuales">
            <img class="sale" src="../images/sale.png" alt="logoSale">
            <i class="fa-duotone fa-circle"></i>
            <div class="botones">
                <i class="fa-duotone fa-angle-left"></i>
                <i class="fa-duotone fa-angle-right"></i>
            </div>        
                <p class="precio">$000,00</p>
                <p class="terminosYCondiciones"><a href="#" alt="terminosYCondiciones">Terminos y condiciones</a></p>
                <button class="botonDePago" type="button"><i class="fa-solid fa-cart-shopping"></i></button>
        </section>

        <section class="ofertasLicencias">
            <h2 class="titulo">Licencias</h2>
            <div class="switchContainer">
                <input type="checkbox" id="switch">
                <label for="switch" class="label"></label>
            </div>
            <i class="fa-duotone fa-circle"></i>
            <div class="botones">
                <i class="fa-duotone fa-angle-left"></i>
                <i class="fa-duotone fa-angle-right"></i>
            </div>
                <p class="precio">$000,00</p>
                <p class="terminosYCondiciones"><a href="#" alt="terminosYCondiciones">Terminos y condiciones</a></p>
                <button class="botonDePago" type="button"><i class="fa-solid fa-cart-shopping"></i></button>
        </section>
    </body>
    <footer class="footer-box">
        <a href="http://localhost:3001"><img class="logoFooter" src="../images/photostation-imagotipo.png" alt="logoSuperior"></a>
    </footer>
</html>