<head>
	<link href="/css/footer.css", rel="stylesheet">
</head>
<html>
	<body>
		<div class="menu-footer">
			<nav class="navigation-footer">
				<ul>
					<li class="bloque-footer"><div>Copyright &#169; 2022<br>PhotoStation</div></li>
					<!--li class="bloque-footer"><div>Bloque 2</div></li>
					<li class="bloque-footer"><div>Bloque 2</div></li-->
				</ul> 
			</nav>
		</div>
	</body>
	</html>