<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<link href="normalize.css" rel="stylesheet">
	<link href="header.css" rel="stylesheet">
</head>
<html>
	<body>
		<header id="caja-titulo">
			<nav class="nav-titulo">
				<ul>
					<li id="logo-portada"><img src="logo.png">
					<li><a href="#">Categorías</a></li>
					<li><a href="#">Precios</a></li>
					<li><a href="#">Carrito</a></li>
					<li><a href="#">Ingresar</a></li>
				</ul>
			</nav>
		</header>
	</body>
</html>