<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<link href="/css/normalize.css", rel="stylesheet">
	<link href="/css/header.css", rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<html>
	<body>
		<div class="menu-header">
			<nav class="navigation">
				<ul>
					<li class="logo"><a href="/"><img src="/images/logo-icon.png" alt=""></a></li>
					<li class="espacio-menu"><img src="/images/photostation-logotipo.png" alt=""></li>
					
					<li class="menu-opcion"><a href="/product/list">Stock</a></li>
					<li class="menu-opcion"><a href="#">Contacto</a></li>

					<% if (locals.logueado) { %>
					<li class="menu-opcion"><a href="userProfile">Hola
						<%= locals.logueado.username %>
					</a></li>
					<li class="menu-opcion"><a href="/logout">Logout</a></li>
					<li class="user"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
					<% } else { %>
					<li class="menu-opcion"><a href="/register">Registrarse</a></li>
					<li class="user"><a href="/login"><i class="fas fa-user"></i></a></li>
					<% } %>
					<!-- li class="user"><a href="#"><i class="fas fa-sign-out-alt"></i></a></li -->
				</ul> 
			</nav>
		</div>
	</body>
	</html>