<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Photo Station / Cambio de contrase単a</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
		<link rel="stylesheet", href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet", href="/css/cambioContrasena.css">
	</head>

	<body>
		<div id="page-container">
			<header>
				<%- include("../partials/header") %>
			</header>

			<div class="form">
				<form class="login-form">
					<input type="password" placeholder="Contrase単a actual" required/>
					<input type="password" placeholder="Nueva Contrase単a" required/>
					<input type="password" placeholder="Confirmar Contrase単a" required/>
					<button>Guardar Cambios</button>
				</form>
			</div>

			<footer>
				<%- include("../partials/footer") %>
			</footer>
		</div>
		
	</body>
</html>