<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Photo Station / Login</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
		<link rel="stylesheet", href="/css/normalize.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet", href="/css/login.css">
	</head>

	<body>
		<div id="page-container">
			<header>
				<%- include("../partials/header") %>
			</header>

			<div class="form" >
				<form class="login-form" method="POST" action="/login">
	
					<input type="email" name="email" placeholder="e-mail">
					<div class="text-danger">
						<% if ( locals.errors && errors.email){ %>
						   <p> <%= errors.email.msg %> </p>
							<% } %>  
					</div>
	
					<input type="password" name="password"  placeholder="Contraseña">
					<div class="text-danger">
						<% if ( locals.errors && errors.password){ %>
						   <p> <%= errors.password.msg %> </p>
						<% } %> 
						 
					</div>
	
					<button>Login</button>
					<p class="message">¿No estás registrado? <a href="register">Creá una cuenta</a></p>
					<p class="message"><a href="#">¿Olvidaste tu contraseña?</a></p>
				</form>
			</div>
			
			<div class="errores">
				<ul></ul>
			</div>

			<footer>
				<%- include("../partials/footer") %>
			</footer>
		</div>
		<script src="/js/userLogin.js"></script>
	</body>
</html>