<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PStation-Login</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/635bf43688.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" href="images/photostation-isotipo.png"/>
        <link rel="stylesheet", href="/css/normalize.css">
        <link rel="stylesheet", href="/css/register.css">
    </head>

    <body>
        <section class="top">
            <a href="http://localhost:3000/offer"><i class="fa-solid fa-bars"></i></a>
            <a href="http://localhost:3000/"><img class="logo" src="../images/photostation-isotipo.png" alt="logoSuperior"></a>
            <div class="right">
                <a href="#"><i class="fa-solid fa-bell"></i></a>
                <a href="http://localhost:3000/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-user"></i></a>
            </div>
        </section>



        <div class="form">
            <form class="login-form" method="POST" action="/register/crear" enctype="multipart/form-data">   
                <div>
                    <label for="">Ingresa tu nombre de Ususario</label>
                    <input type="text" name="username">
                 </div>
                 <div>
                    <label for="">Ingresa tu nombre</label>
                    <input type="text" name="first_name">
                 </div>
                 <div>
                    <label for="">Ingresa tu Apellido</label>
                    <input type="text" name="last_name">
                 </div>
                 <div>
                    <label for="">Ingresa tu Email</label>
                    <input type="email" name="email">
                 </div>
                 <div>   
                    <label for="">Subi tu Foto de Perfil</label>
                    <input type="file" name="image">
                </div>
                 <div>
                    <label for="">Crea una contrase침a</label>
                    <input type="text" name="password">
                 </div>
                 <div>
                    <label for="">Comfirma tu contrase침a</label>
                    <input type="text">
                 </div>
            


                <button>Registrate</button>
                <p class="message">Tus datos personales se utilizar치n para procesar tu pedido, mejorar tu experiencia, gestionar el acceso a tu cuenta y otros pr칩positos descriptos en nuestra  <a href="#">politica de pricvacidad</a></p>
                <p class="message"><a href="login">ya tienes una cuenta?</a></p>
            </form>
        </div>



        <footer class="footer-box">
            <div class="linea"></div>
            <a href="http://localhost:3001"><img class="logoFooter" src="../images/photostation-imagotipo.png" alt="logoSuperior"></a>
        </footer>
        
    </body>
</html>