/*BREAKPOINT SMARTPHONE*/
@media(max-width: 480px){*{box-sizing: border-box;}

/*MAIN*/
.main{
    font-family: myFirstFont;
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/*TOP*/
.top{
    background-color: #b3d7d6;
    box-shadow: 0px 0px 10px gray;
    color: #4d4d4f;
    display: flex;
    flex-wrap: wrap;
    height:fit-content;
    justify-content: space-around;
    position:fixed;
    width: 100%;
}
i.fa-solid.fa-bars{
    font-size: 30px;
    margin-top: 12px;
    position: relative;
    right: 30px;
    width: 40px;
}
.logo{
    margin-top: 4.5px;
    height: 40px;
    position: relative;
    left: 24px;
    width: 50px;
}
.right{
    font-size: 25px;
    justify-content: center;
    margin: 4.5px;
    position: relative;
    left: 30px;
}
i.fa-solid.fa-circle{
    height: 40px;
    margin-top: 10px;
    width:fit-content;
}
i.fa-solid.fa-cart-shopping{
    height: 40px;
    margin-top: 10px;
    width:fit-content;
}
i.fa-solid.fa-user{
    height: 40px;
    margin-top: 10px;
    position: relative;
    width:fit-content;
}


/*BODY*/
body{
    background-color: #e3e7e8;
}
.box-padre{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}



/*OFERTAS INDIVIDUALES*/
.ofertasIndividuales{
    align-items: center;
    background-color: #4d4d4f;
    border-radius: 0.2em;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 480px;
    justify-content: center;
    margin: 80px 20px 10px 20px;
    width: 85%;
}
.box-sale{
    height: 1px;
}
.sale{
    height: 75px;
    max-height: 150px;
    position: relative;
    right: 70px;
    bottom: 30px;
    width: 100px;
}
.circulo{
    box-shadow: inset 0px 0px 10px rgb(81, 81, 81);
    background-color: #e3e7e8;
    border-radius: 100%;
    height: 150px;
    justify-items: center;
    width: 150px;
}
.cantidad{
    color: #292929;
    font-family: myFirstFont;
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}
.clase{
    color: #292929;
    font-family: myFirstFont;
    font-weight: bold;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 22px;
    text-align: center;

}
.botones{
    background-color: white;
    width: 40px;
}
i.fa-duotone.fa-circle-arrow-left{
    color: black;
    height: 20px;
    width: 20px;
}
i.fa-duotone.fa-circle-arrow-right{
    color: black;
    height: 20px;
    width: 20px;

}
.precio{
    color: #b3d7d6;
    font-family: myFirstFont;
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;

}
.terminosYCondiciones{
    font-family: myFirstFont;
    font-size: 10px;
}
.botonDePago{
    align-items: center;
    background-color: #b3d7d6;
    border: hidden ;
    border-radius: 100em;
    font-size: 30px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 150px;
}
.botonDePago:hover{
    background-color: #8cd2d0;
}




/*OFERTAS LICENCIAS*/
.ofertasLicencias{
    align-items: center;
    background-color: #4d4d4f;
    border-radius: 0.2em;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 580px;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    width: 85%;
}
.titulo{
    color: #e3e7e8;
}

/*SWITCH*/
.switchContainer{
    margin: 10px;
}
.label{
    display: inline-block;
    width: 65px;
    height: 33px;
    background: #979797;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: .2s;
}  
.label::after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #eee;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: .2s;
}
#switch:checked + .label::after{
    left: 36px;
}
#switch:checked + .label{
background: #8cd2d0;
}
#switch{
display: none;
}


/*FOOTER*/
.footer-box{
    background-color: black;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    justify-content: center;
    width: 100%;
}
.linea{
    background-color: gray;
    height: 1px;
    margin-top: 20px;
    width: 90%;
}
.logoFooter{
    height: 40px;
}

















}

/*BREAKPOINT TABLETS*/
@media(min-width: 481px){*{box-sizing: border-box;}

}

/*BREAKPOINT DESKTOP*/
@media(min-width: 769px)and(orientation =landscape){*{box-sizing: border-box;}

}
