/*BREAKPOINT SMARTPHONE*/
@media(max-width: 480px){*{box-sizing: border-box;}

}

/*BREAKPOINT TABLETS*/
@media(min-width: 481px){*{box-sizing: border-box;}

}

/*BREAKPOINT DESKTOP*/
@media(min-width: 769px)and(orientation =landscape){*{box-sizing: border-box;}

}
