html, body{
	height: 100%;	/* Esto es fundamental para los elementos que ocupen la pantalla */
}

#page-container{
	position: relative;
  min-height: 100vh;
}

/* form */
.form {
	/*height: 100%;	/* Para poder centrarlo, le decimos que el form ocupa verticalmente lo mismo que el body y html, ya definidos en 100% */
	/*display: flex;
	text-align: center;
	justify-content: center;
	/*
	align-items: center;
	min-height: 78.2vh;
	*/
	padding-top: 50px;
	box-sizing: border-box;	/* Con esto los padding no suman espacio al objeto */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */	
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 30px; /* Se pone un padding para dar lugar a los mensajes de error */
}

.login-form{
	position: relative;
	box-sizing: border-box;
	z-index: 1;
	background: #FFFFFF;
	max-width: 450px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
	box-sizing: border-box;
	width: 100%;
	font-family: "made tommy";
	font-size: 14px;
	background: #f2f2f2;
	outline: 0;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
}

#checkboxes input{	/* Cosas que hay que hacer porque el css afecta a dos archivos distintos */
	width: unset;
}

.cajatexto{
	width: 100%;
} 

div#checkboxes input[type=checkbox] {
	margin-right: 10px;
}

.form button {
	font-family: "made tommy";
	/* text-transform: uppercase; */
	outline: 0;
	background: #B3D7D6;
	width: 100%;
	border: 0;
	padding: 15px;
	color: white;
	font-size: 20px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
	background: #f3c42f;
}

.form .message {
	margin: 15px 0 0;
	color: #b3d7d6;
	font-size: 12px;
}

.form .message a {
	color: #25726f;
	text-decoration: none;
}

div#checkboxes {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: left;
}

div#checkboxes label{
	display: flex;
	flex-direction: row;
}

body {
	background-color: #e3e7e8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;      
}

.errores{
	color: tomato;
	display: flex;
	justify-content: center;
	padding-bottom: 150px;
	/*align-items: center;
	text-align: center;*/
}