
/* celeste: B3D7D6
amarillo: F3C42F
gris oscuro: 4D4D4F
gris: A7A9AC
gris claro: E3E7E8  */

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e3e7e8;
}

h3 {
  font-size: 60px;
  text-align: center;
  color: #4d4d4f;
}

p {
  font-size: 12px;
}

/*TOP*/
.top{
  background-color: #b3d7d6;
  box-shadow: 0px 0px 20px black;
  color: #4d4d4f;
  display: flex;
  flex-wrap: wrap;
  height:fit-content;
  justify-content: space-between;
  position: sticky;
  width: 100%;
}
i.fa-solid.fa-bars{
  color: #292929;
  font-size: 30px;
  margin: 12px 0px 0px 10px;
}
.logo{
  margin: 4.5px 0px 0px 0px;
  height: 40px;
  justify-content: center;
  position: absolute;
}
.right{
  font-size: 25px;
  justify-content: center;
  margin: 4.5px 10px 0px 0px;
}
i.fa-solid.fa-bell{
  color: #292929;
  height: 40px;
  margin-top: 10px;
  width:fit-content;
}
i.fa-solid.fa-cart-shopping{
  color: #292929;
  height: 40px;
  margin-top: 10px;
  width:fit-content;
}
i.fa-solid.fa-user{
  color: #292929;
  height: 40px;
  margin-top: 10px;
  position: relative;
  width:fit-content;
}



header .form .submit {
  border: none;
  background-color: transparent;
  position: relative;
  margin-left: -30px;
  padding: 5px;
}

.flexNav {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0.5em;
}


.active {
  display: flex;
}
/* banner 
section.banner img {
  width: 100%;
}*/


.tittle h3 {
  font-size: 36px;
  margin: 1em auto 0.5em;
  color: #4d4d4f;
  padding: 0em 1em;
}
/* ----- productos ----- */
main {
  margin: 1em auto;
  min-height: 73vh;
}
article div.main-article {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid #f3c42f;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content-price {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 18px;
}


.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.products article {
  box-sizing: border-box;
  width: 90%;
  background-color:#f3c42f;
  margin: 0.5em auto;
}
.products article img {
  width: 100%;
}
.products .main-article {
  border-top: 1px solid #f3c42f;
  padding: 15px;
}



/*FOOTER*/
.footer-box{
  background-color: black;
  box-shadow: 0px 0px 20px black;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
  width: 100%;
}
.linea{
  background-color: gray;
  height: 1px;
  margin-top: 20px;
  width: 90%;
}
.logoFooter{
  height: 40px;
}
/*tablet */
@media (min-width: 361px) {
  .top-header {
    justify-content: space-around;
  }
  .top-header .form {
    width: 30%;
  }
  .top-header .buy {
    width: 30%;
  }
  .top-header .logo {
    width: 30%;
  }
  div.burger-menu {
    display: none;
  }

  .flexNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0.5em;
  }
  ul.left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
  }
  ul.right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 45%;
  }
  header nav ul li {
    margin-right: 15px;
  }
  main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .products {
    flex-flow: row wrap;
  }
  .products article {
    width: 45%;
    box-sizing: border-box;
  }

  .main-article:hover .description {
    display: block;
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
  }
  .main-article .content-price p {
    font-size: 24px;
  }

  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}


/* notebook and desktop */
@media (min-width: 769px) {
  header .form .input{
    font-size: 16px;
  }
  .products {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .products article {
    margin: auto 0.5em;
    width: 25%;
  }
  .content-price {
    justify-content: space-between;
  }
  .top-header .logo {
    width: 30%;
  }
  .top-header .form {
    width: 30%;
  }
  .top-header .buy {
    width: 30%;
  }
}



  
  /* --- registro --- */

  .signupForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form {
    background-color: #f7d977;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }

  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #4D4D4F;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
  }
  
  ::placeholder {
    color: transparent;
  }
  .label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    color: #4D4D4F;
    font-size: 16px;
    transition: 0.5s;
  }


  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #e3e7e8;
    color: #4d4d4d;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #4d4d4d;
    color: #f3c42f;
    transform: translateY(-2px);
  }
  .input:focus + .label {
    top: -7px;
    left: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #4D4D4F;
  }

  .input:focus {
    border: 3px solid #4D4D4F;
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }
